# dbt / Snowflake
DBT_TARGET=dev
DBT_SNOWFLAKE_ACCOUNT=YPVPKVZ-OG27302
DBT_SNOWFLAKE_USER=USR_DBT_PROYECTO_BI_TRANSPORTE_V2
DBT_SNOWFLAKE_PASSWORD=CAMBIAR_POR_PASSWORD_REAL
DBT_SNOWFLAKE_ROLE=ROLE_DBT_PROYECTO_BI_TRANSPORTE_V2
DBT_SNOWFLAKE_DATABASE=PROYECTO_BI_TRANSPORTE_V2
DBT_SNOWFLAKE_WAREHOUSE=WH_PROYECTO_BI_TRANSPORTE_V2
DBT_SNOWFLAKE_SCHEMA=DWH_DEV_CLOUD
DBT_SNOWFLAKE_SNAPSHOT_SCHEMA=SNAPSHOTS_DWH_CLOUD
DBT_THREADS=4

# Airbyte Cloud
# Connection IDs reales del workspace. No son secretos, pero AIRBYTE_CLIENT_SECRET si lo es.
AIRBYTE_API_BASE_URL=https://api.airbyte.com/v1
AIRBYTE_CLIENT_ID=
AIRBYTE_CLIENT_SECRET=
AIRBYTE_CONNECTION_ID_SQLSERVER=d84d864f-bc99-4988-aa53-4bb1c3bc600c
AIRBYTE_CONNECTION_ID_MYSQL=dc6f0dc4-8471-4934-b73d-fb5c8e0dd254
AIRBYTE_CONNECTION_ID_POSTGRES=9b1a5173-1025-4d88-a710-4db8e31b2024
AIRBYTE_CONNECTION_ID_MONGO=2452d3c9-d8e0-4465-9f5e-5e4fa370bc21
AIRBYTE_CONNECTION_IDS=d84d864f-bc99-4988-aa53-4bb1c3bc600c,dc6f0dc4-8471-4934-b73d-fb5c8e0dd254,9b1a5173-1025-4d88-a710-4db8e31b2024,2452d3c9-d8e0-4465-9f5e-5e4fa370bc21
AIRBYTE_POLL_INTERVAL_SECONDS=10
AIRBYTE_TIMEOUT_SECONDS=3600
